
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        {{#if message}}
            <div class="alert {{message.kind}} fade in">
                <strong>  {{message.content}}</strong>
            </div>
        {{/if}}
<div class="x_content">
    <br>
    <form method="post" action="teknesian_add?_csrf={{ csrfToken}}" id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate=""       encType="multipart/form-data">
        <input id="sabtkind" name="sabtkind" class="hidden"  {{#if sherkat}} value="update" {{else}} value="register" {{/if}} >

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"for="lastname">نام
                 <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="lastname" name="lastname"کدملی  تکراری می باشد.  value="{{sherkat.lastname}}"   required="required" class="form-control col-md-7 col-xs-12" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastname">کدملی
                 <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="codemeli" name="codemeli" {{#if sherkat}} disabled {{/if}}   value="{{sherkat.codemeli}}"   required="required" class="form-control col-md-7 col-xs-12" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">جنسیت</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="gender" class="btn-group" data-toggle="buttons">
                    مذکر:
                    <input type="radio" class="flat" name="gender" id="genderM" value="M" checked=""
                           required/> مونث:
                    <input type="radio" class="flat" name="gender" id="genderF" value="F"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12">آدرس
                 </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="address" class="form-control col-md-7 col-xs-12"کدملی  تکراری می باشد.  value="{{sherkat.address}}"   name="address" type="text">
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="control-label col-md-3 col-sm-3 col-xs-12">تلفن
                 </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="phone" class="form-control col-md-7 col-xs-12" name="phone"کدملی  تکراری می باشد.  value="{{sherkat.phone}}"   type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">تصویر تکنسین</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="file" id="profile_pic" name="profile_pic"
                               accept=".jpg, .jpeg, .png">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">تاریخ تولد <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input name="birthdate" id="birthdate" class="normal-example"کدملی  تکراری می باشد.  value="{{sherkat.birthdate}}"   >
           </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">حوزه های کاری  <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">

                <div class="checkbox">
                    <label>
                        <input value="1" name="servicekar" type="checkbox">سرویسکار
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="tamirkar" value="2" type="checkbox"> تعمیرکار
                    </label>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label for="about" class="control-label col-md-3 col-sm-3 col-xs-12">درباره تکنسین
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea id="about" class="form-control col-md-7 col-xs-12" name="about" type="text"></textarea>
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-primary">انصراف</button>
                <button type="submit" class="btn btn-success">ارسال</button>
            </div>
        </div>

    </form>
</div>
</div>
</div>
